ul
  li
    a(href='/') Home
  li.note.
    This website runs on an experimental <a href="http://aws.amazon.com/ec2/" targetr='_blank'>Ec2</a>, <a href="http://nginx.org/">Nginx</a>, <a href="http://nodejs.org/">NodeJS</a>, <a href="http://expressjs.com/">Express</a>, <a href="http://jade-lang.com/">Jade</a>, <a href="http://couchdb.apache.org/">CouchDB</a> setup. Expect interruptions.  